@import "tailwindcss";

#root {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  
}

.navazo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(235, 200, 104, 0.541);
  padding: 5px 11px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}
ul {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  gap: 5%;
}
li {
  height: 12%;
  width: 100%;
  font-size: 20;
  align-content: center;
  transition: color 0.5s;
  
}
li:hover {
  color: #000000;
  background-color: rgb(173, 153, 40);
  transition: background 0.5s;
  
}

.btn-flotante {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  transition:  0.2s, transform 0.2s;
}
.btn-flotante:hover {
  transform: scale(1.1);
}
.btn-flotante:active {
  transform: scale(0.9);
}


